.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.white {
  color: #fff !important;
}

.btn_pin,
.btn_text {
  font-weight: 700;
  font-size: 2vh;
}

.selfi_counter {
  text-align: center;
}
.total_selfi {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 2.3rem;
  line-height: 2rem;
  letter-spacing: 0.015em;
  color: #fff;
}

.globe_text,
.globe_text_b {
  font-size: 2vh;
  font-family: "Gotham";
  font-style: normal;
  padding-top: 0;
}

.globe_text {
  color: #fff;
}
.text_nowrap {
  white-space: nowrap !important;
}

.py_2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.user_text_q {
  color: #fff;
  font-size: 2vh;
  font-weight: 400;
}

.user_bold {
  font-weight: 600;
}
.text_center {
  text-align: center !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.vid_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3c2400;
}
.video_text {
  text-align: left;
  text-align: initial;
}
