.navLinks {
  padding-right: 2.5rem !important;
  /* padding-left: 5rem !important;
  margin-right: 3rem; */
  line-height: 1.5;
  color: #fff !important;
  position: relative !important;
  font-size: 18px !important;
  font-family: "Sofia Sans Condensed", sans-serif !important;
}

.navImg {
  /* padding-right: 1.125rem !important;
  padding-left: 1.125rem !important; */
  margin-left: 6vh;
  height: 7vh;
  width: auto;
}

.sticky_top {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1000 !important;
}
