.navLinks {
  /* padding-right: 2rem !important;
  padding-left: 2rem !important; */
  margin-right: 3rem;
  /* padding-left: 2.125rem !important; */
  line-height: 1.5;
  color: #fff !important;
  position: relative;
  /* font-weigh; */
  font-size: 18px !important;
  font-family: "Sofia Sans Condensed", sans-serif !important;
}

.navImg {
  /* padding-right: 1.125rem !important;
  padding-left: 1.125rem !important; */
  margin-left: 6vh;
  height: 7vh;
  width: auto;
}

.sticky_top {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 1000 !important;
}
