/* .main_background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  height: 100vh;
} */

.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
